<div class="separator">
  Так обзор будет выглядеть на списке
  <div class='arrow'></div>
</div>

<ul class="posters">
  <li class="item_review"><%= render :partial => 'reviews/poster', :locals => { :review => review, :height => 104, :width => 214 } %></li>
</ul>
