// старые кнопки с градиентом
.btn
  cursor: pointer
  font-size: 12px
  line-height: 16px
  padding: 1px 8px 2px
  text-align: center
  outline: none

  &:hover
    text-decoration: none

  &:active
    padding: 2px 8px 1px

  &.btn-block
    display: block

  &.btn-lg
    padding: 5px 10px
    font-size: 14px
    line-height: 18px

    &:active
      padding: 6px 10px 4px

  &.btn-grey
    background-color: #e9e9e9
    +background(linear-gradient(top, #fff, #e9e9e9))
    border: 1px solid #ccc
    color: #222

    &:hover
      background-color: #ff7f1a

    &:active
      background-color: #ff7f1a

  &.btn-orange
    background: #f93
    +background(linear-gradient(top, #f93, #f60))
    border: 1px solid #f60
    color: #fff

    &:hover
      +text-shadow(#f60 1px 1px 1px)
      background-color: #f93

    &:active
      background-color: #ff7f1a
      +background(linear-gradient(top, #f60, #f93))

  &.btn-dashed
    border-bottom: 1px dashed #0066cc

//новые кнопки с flat-дизайном

.flat-btn
  +inline-block
  color: #fff
  font-size: 12px
  height: 26px
  line-height: 26px
  margin: 0
  padding: 0
  text-align: center
  cursor: pointer
  border: 0

  &:active, &:hover
    outline: none
    text-decoration: none

  &.btn-lg
    font-size: 13px
    height: 32px
    line-height: 32px
    padding: 0 10px

  &.btn-sm
    font-size: 11px
    height: 20px
    line-height: 20px
    padding: 0 5px

  &.btn-red
    background: #f73e4d
    border-bottom: 2px solid #c50109 !important

    &:active, &:hover
      background: #c50109

  &.btn-green
    background: #00bb84
    border: 1px solid #00ad7a

    &:active, &:hover
      background: #00ad7a
      border-color: #00ad7a

  &.btn-orange
    background: #ff6600
    border-bottom: 2px solid #ca4500 !important

    &:active, &:hover
      background: #ca4500

  &.btn-grey
    background-color: #e9e9e9
    color: #222
    border-bottom: 2px solid #999
    padding: 0 15px

    &:hover, &:active
      background-color: #999

  &.btn-disabled
    background: #e9e9e9
    border-bottom: 2px solid #a9a9a9
    color: #999
    cursor: not-allowed

    &:active, &:hover
      background: #a9a9a9
      color: #fff
