.geoip_form_wrapper
  padding: 10px !important

  .geoip_content
    margin: 10px 0 0 0

    a
      color: #fff
      padding: 3px 5px

      &:hover
        color: #fff
        text-decoration: none
