.landing_content
  .capability
    height: 480px
    background: #fff69b

    table
      width: 100%
      height: 100%

      td
        width: 33.3%

        > div
          text-align: center
          vertical-align: middle
          height: 100%
          border-right: 2px solid #fff
          font-size: 14px

          h2
            font-size: 18px
            margin-bottom: 10px

        .image
          height: 255px
          img
            margin-top: 40px

        .no_border
          border-right: none

        .info
          width: 71%
          display: inline-block

  .steps
    height: 520px
    background: #099

    h3
      text-align: center
      color: #fff17c
      font-size: 24px
      font-weight: bold
      padding: 35px 0 20px 0
      font-family: Arial

    ul
      width: 1200px
      margin: 0 auto

      li
        background: white
        border-radius: 40px
        margin: 8px
        height: 70px
        padding-right: 40px

        .info
          display: table-cell
          height: 70px
          vertical-align: middle

          span
            font-size: 16px

            b
              color: #f76600

        .number_wrapper
          float: left
          border-radius: 55px
          background: #01999a
          padding: 8px
          margin: -8px
          margin-right: 15px

          .white_ring
            height: 70px
            width: 70px
            display: inline-block
            background: white
            border-radius: 40px

            .number
              background: #f76600
              height: 55px
              width: 55px
              border-radius: 45px
              display: inline-block
              margin: 7px

              color: white
              text-align: center
              font-size: 28px
              font-weight: bold

              span
                vertical-align: sub
                height: 100%

  .tariffs

    padding-bottom: 45px
    border-bottom: 2px solid #d9d9d9
    text-align: center

    h1.main
      font-size: 24px
      color: #fd6000
      margin: 30px 0
      font-family: Arial
      font-weight: bold

    .tariff
      display: inline-block
      margin: 0 10px

      .head
        background: #ff9829
        color: white
        height: 94px
        width: 380px
        display: table-cell
        vertical-align: middle
        border-radius: 8px 8px 0 0

        h1
          font-size: 24px
        span
          font-size: 18px

      .services
        padding: 0 20px 5px 20px
        text-align: left
        background: #ffffff
        border-radius: 0 0 8px 8px

        li.heiger span
          padding-top: 10px

        li
          border-bottom: 1px solid #ff9829
          font-size: 14px
          display: table-cell
          width: 340px
          padding: 18px 0
          vertical-align: middle

        & :last-child
          border: none

        .info
          width: 100%
          span
            float: right
            height: 27px
            img
              vertical-align: middle

          p
            vertical-align: middle
            display: inline-block

          p.disabled
            color: #9e9e9e

  .end
    text-align: center
    margin: 50px 0
    .link_to_add
      background: #cd3738
      border-bottom: 4px solid #a11f1f !important
      font-size: 22px
      height: 54px
      padding: 0 40px

      &:hover
        background: #b63131
        border-bottom: 4px solid #8d2a2a !important
      span
        line-height: 53px
