.wrapper_novyj_god_2016_v_tomske, .novyj_god_2016_v_sevastopole
  .map_projects_wrapper
    &.placemarks
      background: #f6f6f6

  .map_projects_content
    .map_placemark_form
      padding: 15px

      .interlude
        font-size: 14px

      .left, .right
        float: left

      .left
        margin: 0 30px 0 0
        width: 440px

      .map_wrapper
        margin: 42px 0 30px 0

        .map
          height: 400px
          width: 600px
          margin-top: 15px

        .error
          display: block
          color: red

        input
          +border-radius(3px)
          +inline-block
          border: 1px solid #909090
          outline: none
          padding: 5px
          width: 492px

          &.valid
            background-color: rgba(#7fff7f, .5)

        input[type='button']
          width: 100px
          padding: 0 5px
          +border-radius(0)
          border: 0
          margin-left: -7px
          height: 27px

      .input
        .error
          display: block
          color: red

        &.hidden
          display: none

        &.map_placemark_image
          input
            border: 0

      label
        display: block
        font-size: 14px
        margin-bottom: 5px

      abbr
        color: red
        cursor: help
        font-size: 20px

      h1
        font-size: 22px
        margin-bottom: 10px

      ul.tagit
        border: 0

        input.ui-widget-content
          border: 0

      .link-to-switch
        font-size: 14px
        display: block
        margin: 20px 0

      .not_zg_object
        +clearfix

        .markItUpFooter
          width: 50%

        .markItUpHeader
          width: 560px

        input
          +border-radius(3px)
          +inline-block
          border: 1px solid #909090
          outline: none
          padding: 5px
          width: 300px

        input[type='file']
          padding: 10px 0 0 0

      .select_categories
        .select_type
          +border-radius(3px)
          +inline-block
          border: 1px solid #909090
          outline: none
          padding: 4px
          +appearance(none)
          background: image_url('public/down_arrow.jpg') no-repeat right
          border: 1px solid #909090
          cursor: pointer
          overflow: hidden
          width: 312px
          background-color: #FFF

        .tagit_categories
          display: none

      #map_placemark_title
        +border-radius(3px)

      .submit
        font-size: 12px
        margin-top: 15px
        margin-bottom: 20px

        a
          padding-left: 20px

    .relations
      display: none

    .map_placemarks_list
      clear: both
      +clearfix
      border-top: 1px solid #ccc

      h2
        font-size: 18px
        font-weight: bold
        margin: 10px 0

      .left, .right
        float: left
        +clearfix

      .right
        width: 70%

        .title
          font-size: 14px
          margin: 0 0 10px 0
          +inline-block

      div.item
        clear: both
        +clearfix
        padding: 15px 0
        border-top: 1px solid #ccc

        &:first-child
          border: 0

        .left
          margin: 0 20px 0 0
          width: auto

          .item_wrapper
            width: 192px
            height: 250px

            .image
              border: 1px solid #ccc

            .title
              width: 190px
              margin: 10px 0
              border-bottom: 1px dashed #ccc
              padding-bottom: 4px
              overflow: hidden
              white-space: normal
              min-height: 20px !important
              max-height: 36px !important
              text-overflow: ellipsis
              -webkit-line-clamp: 2
              +display-box
              +box-orient(vertical)
              font-size: 13px
              font-family: 'Arial', sans-serif

          .afisha_content
            abbr
              color: #000
              font-size: 11px
              cursor: auto

          .organization_content
            .info
              width: 190px
