<div class="reservations common_styles">
  <h4>Бронирование услуг</h4>

  <table>
    <thead>
      <tr>
        <th class="phone">Тип</th>
        <th class="phone">Телефон</th>
        <th class="balance">Баланс</th>
        <th class="action"></th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => 'crm/reservations/reservation', :locals => { :suborganization => resource } %>
    </tbody>
  </table>
</div>


