<% @archived_works.each do |work| %>
  <%= render :partial => "works/contest_#{work.context.type_without_prefix}_poster", :locals => { :work => work, :width => width, :height => height } %>
<% end %>
<% unless @archived_works.last_page? %>
  <li class="item pagination">
    <%= link_to_next_page @archived_works, "Еще работы (#{current_count})", :remote => true, :class => 'js-next-page btn btn-block btn-grey btn-lg', :params => params %>
  </li>
<% end %>
