<div class="banner12_contest_wrapper <%= params['controller'].to_s.split('/').try(&:first) %>">
  <ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
    <li class='js-banner selfi-monopode'>
      <%= image_tag 'public/banners/banner_1_2_prokat.png', size: '880x73' %>
    </li>
  </ul>
</div>
