<% if Time.zone.now < Time.zone.parse('2015-12-27').end_of_day %>
  <div class="new_feature">
    <ul class='top_headline banner js-banner'>
      <li>
        <%= link_to 'http://xn--80aagmwcjerocrk8o.xn--p1ai/b50', :target => :_blank do %>
          <%= image_tag 'public/banners/banner_1_1_tomsk_new_year_fair_2015.jpg', :size => '1200x138', :alt => 'Городская новогодняя ярмарка подарков', :title => 'Городская новогодняя ярмарка подарков' %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
