<div class="new_feature">
  <div class='top_headline banner js-banner'>
    <%= link_to contest_path('strana-skazok') do %>
      <%= image_tag 'public/banners/strana-skazok_banner.jpg', :size => '1200x80', :alt => 'Страна сказок' %>
    <% end %>
  </div>
</div>
