<% if !placed_banner.nil? %>
  <div class="placed_banner_wrapper placed_banner11">
    <%= link_to (image_tag placed_banner.image_url, size: "1200x100"), placed_banner.url, :target => placed_banner.target, :class => "placed_banner #{placed_banner.title}"%>
  </div>
<% end %>
