<div class="new_feature">
  <ul class='top_headline banner js-banner'>
    <li>
      <%= link_to AwayLink.to('http://mo-zdorovie.tomsk.ru'), :target => '_blank' do %>
        <%= image_tag 'public/banners/zdorovye_banner_1_1.jpg', :size => '1200x80', :alt => 'Центр здоровья' %>
      <% end %>
    </li>
  </ul>
</div>
