<div class="new_feature">
  <div class='top_headline banner js-banner'>
    <%= link_to contest_path('velo-selfi') do %>
      <%= image_tag 'public/banners/banner-1.1-velo-selfi.jpg', :size => '1200x80', :alt => 'Конкурс "Вело селфи"' %>
    <% end %>
  </div>
</div>
