<div class="new_feature">
  <div class='top_headline banner js-banner'>
    <%= link_to contest_path('miss-tomsk-2015') do %>
      <%= image_tag 'public/banners/miss-tomsk-banner.jpg', :size => '1200x80', :alt => 'Мисс Томск 2015' %>
    <% end %>
  </div>
</div>
