<div class="new_feature">
  <ul class='top_headline banner js-banner'>
    <li>
      <%= link_to AwayLink.to('http://ohotanasvadbu.ru/tomsk/action/rejting-top-100-tomskij-svadebnyj-banket-2015'), :target => '_blank' do %>
        <%= image_tag 'public/banners/banner_1_1_tomsk_ohotanasvadbu.jpg', :size => '1200x80', :alt => 'Охота на свадьбу', :title => 'Охота на свадьбу' %>
      <% end %>
    </li>
  </ul>
</div>
