<% if Time.zone.now < Time.zone.parse('2015-12-27').end_of_day %>
  <div class="new_feature">
    <ul class='top_headline banner js-banner'>
      <li>
        <%= link_to 'http://xn--80aagmwcjerocrk8o.xn--p1ai/k1/II+%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D1%81%D0%BA%D0%B0%D1%8F+%D0%BD%D0%BE%D0%B2%D0%BE%D0%B3%D0%BE%D0%B4%D0%BD%D1%8F%D1%8F+%D1%8F%D1%80%D0%BC%D0%B0%D1%80%D0%BA%D0%B0+%D0%BF%D0%BE%D0%B4%D0%B0%D1%80%D0%BA%D0%BE%D0%B2', :target => :_blank do %>
          <%= image_tag 'public/banners/banner_1_1_tomsk_new_year_fair_2015.jpg', :size => '1200x80', :alt => 'Городская новогодняя ярмарка подарков', :title => 'Городская новогодняя ярмарка подарков' %>
        <% end %>
      </li>
    </ul>
  </div>
<% end %>
