<div class="banner12_contest_wrapper <%= params['controller'].to_s.split('/').try(&:first) %>">
  <ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
    <% unless params[:id] == 'miss-ofis-2015' %>
      <li class='js-banner miss-ofis-banner'>
        <%= link_to (image_tag 'public/banners/banner-miss-ofis.jpg', size: '880x80'), contest_path('miss-ofis-2015'), class: 'js-stat-miss-ofis' %>
      </li>
    <% end %>

    <li class='js-banner istoriya-lyubvi-banner'>
      <%= link_to (image_tag 'public/banners/istoria-lyubvi_banner_1_2.jpg', size: '880x80'), contest_path('fotokonkurs-istoriya-lyubvi'), class: 'js-stat-istoriya-lyubvi' %>
    </li>
  </ul>
</div>
