<div class="new_feature">
  <div class='top_headline banner js-banner'>
    <%= link_to excursions_index_path do %>
      <%= image_tag 'public/banners/banner-exkursii.png', :size => '1200x80', :alt => 'Экскурсии Севастополя' %>
    <% end %>
  </div>
</div>
