<div class="banner12_contest_wrapper <%= params['controller'].to_s.split('/').try(&:first) %>">
  <ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
    <li class='js-banner miss-tomsk-2015-banner'>
      <%= link_to (image_tag 'public/banners/miss-tomsk.jpg', size: '880x80'), contest_path('miss-tomsk-2015'), class: 'js-stat-miss-tomsk' %>
    </li>

    <li class='js-banner pobeda-banner'>
      <%= link_to (image_tag 'public/banners/pobeda.jpg', size: '880x80'), contest_path('deti-risuyut-pobedu'), class: 'js-stat-pobeda' %>
    </li>
  </ul>
</div>
