<div class="new_feature">
  <div class='top_headline banner js-banner'>
    <%= link_to contest_path('deti-risuyut-pobedu') do %>
      <%= image_tag 'public/banners/drp-banner.jpg', :size => '1200x80', :alt => 'Конкурс: Дети рисуют Победу!' %>
    <% end %>
  </div>
</div>
