<div class="banner12_contest_wrapper <%= params['controller'].to_s.split('/').try(&:first) %>">
  <ul class='banner12 <%= params['controller'].to_s.split('/').try(&:first) %>'>
    <% unless params[:id] == 'miss-ofis-2015' %>
      <li class='js-banner miss-ofis-banner'>
        <%= link_to (image_tag 'public/banners/banner-miss-ofis.jpg', size: '880x80'), contest_path('miss-ofis-2015'), class: 'js-stat-miss-ofis' %>
      </li>
    <% end %>

    <% unless params[:id] == 'strana-skazok' %>
      <li class='js-banner strana-skazok-banner'>
        <%= link_to (image_tag 'public/banners/banner-1.2-strana-skazok.jpg', size: '880x80'), contest_path('strana-skazok'), class: 'js-stat-strana-skazok' %>
      </li>
    <% end %>
  </ul>
</div>
