<div class="new_feature">
  <ul class='top_headline banner js-banner'>
    <li>
      <%= link_to 'http://vshkolu.znaigorod.ru', :target => '_blank' do %>
        <%= image_tag 'public/banners/vshkolu_banner_1_1.jpg', :size => '1200x80', :alt => 'Школьная Ярмарка 2015 в Томске', :title => 'Школьная Ярмарка 2015 в Томске' %>
      <% end %>
    </li>
  </ul>
</div>
