<% changes = YAML.load(review.versions.last.body) %>
<table>
  <tr>
    <th style="width: 20%">Измененный аттрибут</th><th>Стало</th><th>Было</th>
  </tr>
  <% changes.keys.each do |key| %>
    <tr>
      <td>"<%= t("review.for_message.#{key}") %>"</td>
      <% if key != 'poster_url' %>
        <td><%= "#{changes[key][1]}" %></td>
        <td><%= "#{changes[key][0]}" %></td>
      <% end %>
    <% end %>
  </tr>
</table>
<br>
