.organizations_main_page_list
  .posters_organizations
    .item
      width: 178px
      height: 300px

      .title
        height: 38px
        width:  178px
        text-align: center
        vertical-align: middle
        display: table-cell

      .actions
        height: 22px

      .poster
        &:hover
          opacity: 0.15

.my_organizations_show, .other

  font-size: 14px

.my_organizations_edit_gallery_images
  .sortable_handle
    display: inline
    &:hover
      cursor: pointer

  img
    display: block

.my_organizations_new, .my_organizations_edit, .my_organizations_create
  abbr
    color: red !important
    cursor: help
    font-size: 20px

  .error
    margin: 0px !important

  font-size: 14px

  .left
    width: 740px

  .form_view

    h1
      margin: 12px 0 12px 0
      font-size: 17px

    a
      font-size: 12px

    .select_categories
      input[type='text']
        background-color: inherit

      ul.tagit
        border: none

      .select_type
        border-radius: 3px
        -webkit-appearance: none
        -moz-appearance: none
        appearance: none
        background: #fff url(http://znaigorod.ru/assets/public/down_arrow-89852a7b08912b882cd90a54d08030f0.jpg) no-repeat center right
        border: 1px solid #909090
        cursor: pointer
        height: 28px
        padding-left: 4px
        width: 300px


    .required.control-label
      margin-top: 0px

    .control-label, .like_control_label
      font-size: 13px
      font-weight: bold
      float: none
      margin: 3px 0
      text-align: left
      width: auto
      display: block

    input[type='text']
      background-color: white
      width: 98%

    .input
      textarea
        width: 98%
        height: 45px
        background-color: white

    .phone_edit
      .like_control_label
        display: inline

      .icon-info
        background: url('more_button_sprite.png')
        width: 25px
        height: 25px
        display: inline-block

      .icon-info:hover
        background-position: 0px 25px

    .full_schedules_fields
      label.control-label
        font-weight: normal
        display: inline-block

      .fields
        margin: 0 0 15px 0
      a
        display: inline-block

      a.add_full_schedules.add_nested_fields
        margin: 5px 0 15px 0px

      .comment_for_full_schedules
        display: block
        margin: 16px 0 0 0

      .input.text.optional.organization_full_schedules_comment
        display: block

      .break_fields
        .input
          margin: 0px

        .remove_break
          vertical-align: super
          margin-left: 22px


      input[type='text']
        width: 40px
        margin: 0px 4px 0px 10px

      .input
        display: inline-block

      .input select
        width: 55px

      .days
        display: inline
        margin-left: 21px

      .days .input
        margin-right: 15px

      .days .input label
        width: auto !important
        margin: 0 5px 2px 3px

      .days .input input.boolean
        margin: 3px 0 0 0 !important

    hr
      margin-bottom: 15px

    .addres_form
      float: none
      width: 100%

      .address_fields
        float: none
        width: 100%

        #map
          width: 100%
          border: none
          margin-bottom: 15px

        .get_coordinates
          margin-top: 30px

        .input
          width: auto
          margin: 0px 10px 10px 0
          input
            width: 100px

        input#organization_address_attributes_city, input#organization_address_attributes_street
          width: 230px

        .input.organization_address_office
          margin: 0px 0 10px 0









