.organizations_main_page_list
  .posters_organizations
    .item
      width: 178px
      height: 300px

      .title
        height: 38px
        width:  178px
        text-align: center
        vertical-align: middle
        display: table-cell

      .actions
        height: 22px

      .poster
        &:hover
          opacity: 0.15

.my_organizations_show, .other

  font-size: 14px

  div
    margin: 3px 0

  .title
    font-size: 25px
    font-weight: bold

  .logo
    width: 300px
    height: 300px
    float: left
    text-align: center
    vertical-align: middle

  .title
    text-align: center
  span.label
    font-weight: bold
    color: dimgrey

  .image_wrapper
    display: table-caption
    .sortable_handle
      cursor: move
      display: inline

