<% content_for :content do %>
  <tr class="solid_border">
    <td class="padding_center">
      <table class="custom_column_width columns">
        <tr>
          <p class='margin'>
            Здравствуйте, <span class='bold'><%= @account.title %>!</span>
          </p>
        </tr>
        <p>
          Вы не подтвердили актуальность акций, которые размещали на портале ЗнайГород.
        </p>
        <p class="margin">
          Ваши акции перемещены в архив и не будут доступны пользователям.
        </p>

        <hr />

        <% @discounts.each do |discount| %>
          <tr class='hr'>
            <td class='image'>
              <%= link_to (image_tag resized_image_url(discount.poster_image_url, 90,90), :size => "90x90"), discount_url(discount) %>
            </td>

            <td class='link'>
              <%= link_to discount.title, discount_url(discount) %>

              <p class='bold margin'>
                <%= link_to 'Поднять скидку', discount_url(discount), :class => [:btn, :orange, :inline] %>
              </p>
            </td>
          </tr>
        <% end %>
      </table>

      <table>
        <p class='bold margin'>Как вернуть акцию в каталог?</p>
        <p class='margin'>
          Воспользуйтесь услугой поднятия скидки.
        </p>

        <p class='margin'>
          Она будет находиться вверху списка и сутки выделена цветом. Срок размещения объявления будет продлён ещё на 60 дней.
        </p>

        <p class='margin'>
          Также Вы можете бесплатно подтвердить, что акция еще актуальна, нажав на кнопку “Актуализировать” в личном кабинете. Но в таком случае она останется внизу списка выдачи.
        </p>

        <p class='margin last'>
          Это письмо сгенерировано роботом, отвечать на него не нужно.
        </p>
      </table>
    </td>
  </tr>
<% end %>
