<div class='my_organization_tabs'>

  <% if !["managing", "subscriptions", "statistics"].include?(action_name) %>
    <div class='tab activ'>
      Моя организация
    </div>
  <% else %>
    <%= link_to organization_path(organization.id) do %>
      <div class='tab'>Моя организация</div>
    <% end %>
  <% end %>

  <% if action_name == 'subscriptions' %>
    <div class='tab activ'>
      Подписки
    </div>
  <% else %>
      <%= link_to subscriptions_my_organization_path(organization.id) do %>
        <div class='tab'>Подписки</div>
      <% end %>
  <% end %>

  <% if action_name == 'managing' %>
    <div class='tab activ'>
      Разграничение прав
    </div>
  <% else %>
      <%= link_to managing_my_organization_path(organization.id) do %>
        <div class='tab'>Разграничение прав</div>
      <% end %>
  <% end %>

 <% if action_name == 'statistics' %>
    <div class='tab activ'>
      Статистика
    </div>
  <% else %>
      <%= link_to statistics_my_organization_path(organization.id) do %>
        <div class='tab'>Статистика</div>
      <% end %>
  <% end %>
</div>
