<div>
  Ваша организация <%= @organization %> теперь в черновиках.
  <% if @organization.comment_for_draft.present? %>
    <br>
    Вот такой комментарий оставил для вас модератор<%= @organization.comment_for_draft %>
  <% end %>
</div>
