<div class="ads_by_google_right js-google-ads-right">
  <!-- правый -->
  <ins class="adsbygoogle"
         style="display:inline-block;width:240px;height:400px"
         data-ad-client="ca-pub-6605894770961296"
         data-ad-slot="7214004962"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
