<div class="ads_by_google_footer">
  <!-- над футером -->
  <ins class="adsbygoogle"
         style="display:inline-block;width:980px;height:120px"
         data-ad-client="ca-pub-6605894770961296"
         data-ad-slot="5737271763"></ins>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div>
