<div class="geoip_form_wrapper js-geoip">
Мы опредилили, что Вы, возможно, из Севастополя . Хотите перейти на версию сайта для Севастополя?
  <ul class="select_city">
    <li class='priority'><%= link_to 'Севастополь', 'http://sevastopol.znaigorod.ru' %></li>
    <li><%= link_to 'Томск', 'http://znaigorod.ru' %></li>
  </ul>
</div>
