<div class='promotions'>
  <div class='place' id='place-1'></div>
  <%= render :partial => 'commons/rianovosti' if Settings['app.city'] == 'tomsk' %>
  <div class='place' id='place-2'></div>
  <div class='place' id='place-3'></div>
  <div class='place' id='place-4'></div>
  <div class='place' id='place-5'></div>
  <div class='place' id='place-6'></div>
  <%= render :partial => "commons/ads_by_google_right_#{Settings['app.city']}" if File.exist?(Rails.root.join("app/views/commons/_ads_by_google_right_#{Settings['app.city']}.html.erb")) && !request.path.split('/').include?('inform') %>
</div>
