<div class='content_wrapper'>
  <% if current_city == 'tomsk' %>
    <% unless (controller_name == 'organizations' || controller_name == 'suborganizations') && action_name == 'show' %>
      <div class='left_links'><%= link_to 'Медицинское объединение "Здоровье"', 'http://mo-zdorovie.tomsk.ru', :target => :_blank %></div>
      <div class='right_links'><%= link_to 'Медицинское объединение "Здоровье"', 'http://mo-zdorovie.tomsk.ru', :target => :_blank %></div>
    <% end %>
  <% end %>

  <div class='content <%= auto_content_class %>'>
    <%= yield %>
  </div>
</div>
