<div class='content_wrapper'>
  <div class='left_links'><%= link_to 'Медицинское объединение "Здоровье"', 'http://mo-zdorovie.tomsk.ru/newdirections', :target => :_blank %></div>
  <div class='right_links'><%= link_to 'Медицинское объединение "Здоровье"', 'http://mo-zdorovie.tomsk.ru/newdirections', :target => :_blank %></div>

  <div class='content <%= auto_content_class %>'>
    <%= yield %>
  </div>
</div>
