<div class='content_wrapper'>
  <% if current_city == 'tomsk' && Brand.is_actual? %>
    <% unless (controller_name == 'organizations' || controller_name == 'suborganizations') && action_name == 'show' %>
      <div class='left_links'><%= link_to @brand.title, @brand.url, :target => :_blank %></div>
      <div class='right_links'><%= link_to @brand.title, @brand.url, :target => :_blank %></div>
    <% end %>
  <% end %>

  <div class='content <%= auto_content_class %>'>
    <%= yield %>
  </div>
</div>
