<% content_for :content do %>
  <tr class="solid_border">
    <td class="padding_center">
      <table class="custom_column_width columns">
        <tr>
          <td>
            <%= @work.anketa.try(:as_html) %>
          </td>
        </tr>
        <tr>
          <td>
            Посмотреть работу можно <%= link_to 'здесь', contest_work_url(@work.context, @work) %>
        </td>
      </tr>
    </table>
  </td>
</tr>
<% end %>
