<% content_for :content do %>
  <tr class="solid_border">
    <td class="padding_center">
      <table class="custom_column_width columns">
        <tr>
          <td>
            <%= @work.anketa.as_html %>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<% end %>
