<% content_for :content do %>
  <div class='mail_review_wrapper'>
  <table>
    <tr><td class='mail_review_header'><h2>Здравствуйте, <%= @review.user.name %>!</h2></td></tr>
    <tr><td>Вы отправили на модерацию обзор '<%= @review.title %>', однако для того, чтобы обзор соответствовал нашим корпоративным требованиям, вам следует его <b>отредактировать</b>.</td></tr>
    <tr><td>Вот, какой комментарий оставил для Вас модератор:</td></tr>
    <tr><td><%= @review.comment %></td></tr>
    <tr><td>Исправьте перечисленные недочеты и очень скоро мир ознакомится с Вашей информацией! </td></tr>
    <tr><td>Творческих успехов! «ЗнайГород» любит Вас!</td></tr>
  </table>
</div>
<% end %>

