<div class='mail_review_wrapper'>
  <table>
    <tr><td class='mail_review_header'><h3>Здравствуйте, <%= @review.user.name %>!</h3></td></tr>
    <tr><td>Поздравляем! Вы практически стали частью информационного портала «ЗнайГород».</td></tr>
    <tr><td>Ваш обзор '<%= @review.title %>' успешно прошел модерацию и все, что осталось – оплатить рекламный обзор в размере <b><%= @review.price %> руб.</b></td></tr>
    <tr><td>Для оплаты достаточно перейти по ссылке <%= link_to @review.title, "#{Settings['app']['url']}/my/reviews/#{@review.id}" %> и нажать <b>'Оплатить'</b>.</td></tr>
    <tr><td>Если Вы хотите сделать обзор бесплатным, то постарайтесь убрать рекламный материал из обзора и повторно отправьте его на модерацию!</td></tr>
    <tr><td>Успехов! С Вами «ЗнайГород» становится лучше!</td></tr>
  </table>
</div>
