<div class='mail_review_wrapper'>
  <table>
    <tr><td class='mail_review_header'><h3>Здравствуйте, <%= @review.user.name %>!</h3></td></tr>
    <tr><td>Мы посмотрели ваш обзор '<%= link_to @review.title, "#{Settings['app']['url']}/my/reviews/#{@review.id}" %> ', и для того, чтобы обзор соответствовал нашим корпоративным требованиям, вам следует его <b>отредактировать</b>.</td></tr>
    <tr><td>Вот, какой комментарий оставил для Вас модератор:</td></tr>
    <tr><td>"<%= @review.comment %>".</td></tr>
    <tr><td>Исправьте перечисленные недочеты и очень скоро мир ознакомится с Вашей информацией! </td></tr>
    <tr><td>Творческих успехов! «ЗнайГород» любит Вас!</td></tr>
  </table>
</div>
