<li>Информацию о предстоящих событиях присылайте на <a href="mailto:afisha@znaigorod.ru">afisha@znaigorod.ru</a></li>
<li>Чтобы ваше заведение появилось в каталоге, отправьте письмо на <a href="mailto:info@znaigorod.ru">info@znaigorod.ru</a></li>
<li>Если хотите сотрудничать с нами, напишите на <a href="mailto:office@znaigorod.ru">office@znaigorod.ru</a></li>
