<li>
  <%= link_to gallery_file.file_file_name, gallery_file.file_url %>
  <%= link_to "Удалить", my_afisha_gallery_file_path(@afisha, gallery_file), :method => :delete, :remote => true, :class => 'ajax_delete' if @afisha.present? %>
  <%= link_to 'Удалить', my_organization_gallery_file_path(gallery_file.attachable_id, gallery_file), :method => :delete, :remote => true, :class => 'ajax_delete' if gallery_file.attachable_type == 'Organization' %>
</li>
