@-moz-document url-prefix()
  .presentation-filters-wrapper
    select
      text-indent: 2px
      padding-bottom: 2px

  .filters-by-wrapper.filters-for-afisha
    .filters .by_date
      ul.with-datepicker
        li
          padding: 3px 15px 4px 13px

        &.with-datepicker li
          &:last-child
            padding: 5px 20px 4px 25px

  .grayline-navigation .filters .by_kind ul .title
    .text
      &:after
        left: 82.5%
        top: 30.5%
        border-width: 18px

  .main_page_show
    #vk-group
      padding-right: 7px
      padding-left: 7px

  //adaptive version for xs-devices//
  .afishas-with-adaptive-version
    .filters_for_mobile_afisha
      .presentation_filters.afisha .presentation-filters-wrapper
        span
          min-width: 124px

    .doberman_wrapper .doberman_content_wrapper
      .header_wrapper .header .logo-for-xs
        position: absolute
        top: 12px
        left: -78px




select:-moz-focusring
  color: transparent
  text-shadow: 0 0 0 #000
