<div class="promote_discount_wrapper">
  <div class="promote_info">
    Можно поднять и выделить скидку в списке за <strong>30 руб.</strong>
  </div>

  <%= render :partial => 'discounts/promote_button', :locals => { :discount => discount } %>
</div>
