@media (max-width: $max-md-width)
  .banner12_contest_wrapper.main_page
    width: 100%

    .banner12
      width: 80%

      li
        width: 100%

        img
          width: 100%
          height: auto
          max-height: 80px

@media (max-width: $max-xs-width)
  .banner12_contest_wrapper.main_page    
    .banner12
      width: 100%

    img
      padding: 16px
      box-sizing: border-box
