@media (max-width: $max-md-width)
  .banner12_contest_wrapper.main_page,
  .banner12_contest_wrapper.afishas
    width: 100%

    .banner12
      width: 80%

      li
        width: 100%

        img
          width: 100%
          height: auto
          max-height: 80px

@media (max-width: $max-xs-width) and (orientation: portrait)
  .banner12_contest_wrapper.main_page,
  .banner12_contest_wrapper.afishas
    .banner12
      width: 95%

      img
        margin: 0 auto

  .banner12_contest_wrapper.main_page,
    .banner12
      height: 45px

  .banner12_contest_wrapper.afishas
    ul
      height: 40px

    li
      height: 40px

@media (max-width: $max-xs-width) and (orientation: landscape)
  .banner12_contest_wrapper.main_page,
    .banner12
      height: 60px

@media (min-width: $min-sm-width) and (max-width: $max-sm-width)
  .banner12_contest_wrapper.main_page,
    .banner12
      height: 70px

