.visible-xs,
.visible-sm
  display: none

.posters
  li img
    width: 100%
    height: auto

.organizations-index-with-adaptive-version,
.afishas-index-with-adaptive-version,
.discounts-index-with-adaptive-version,
.reviews-index-with-adaptive-version,
.photogalleries-index-with-adaptive-version,
.cooperation-services-with-adaptive-version,
.cooperation-benefit-with-adaptive-version,
.cooperation-statistics-with-adaptive-version,
.cooperation-our_customers-with-adaptive-version,
.cooperation-ticket_sales-with-adaptive-version,
.contests-index-with-adaptive-version,
.feedback-show-with-adaptive-version,
.questions-index-with-adaptive-version,
.questions-show-with-adaptive-version,
.main_page-show-with-adaptive-version
  @media (max-width: $max-xs-width)
    .visible-xs
      display: block

    .hidden-xs
      display: none

    .ui-dialog
      width: 90% !important
      left: 16px !important

      .sign_in_with .cloud_wrapper .social_signin_links li
        margin: 0 6px 0 0

    .doberman_wrapper
      .links_brand,
      .doberman_content_wrapper
        width: auto

        .search_form
          right: 0

    .header_wrapper.header-wrapper-new
      // Orange top main menu
      .main_menu
        &.main-menu-orange
          padding: 0 16px

          ul
            width: auto

          .header
            width: auto !important

      .header
        width: auto !important

        .menu-buttons
          +menu_buttons

        .logo-for-xs
          > a
            position: absolute
            top: 3px
            left: 3px

          + .city-selector
            float: none
            left: 40px

        h1
          position: static
          padding-top: 60px
          padding-left: 16px
          padding-right: 16px
          margin-bottom: 15px
          display: block
          font-size: 18px
          max-width: 100%
          height: auto

        .logo
          left: 10px
          right: auto

        .menu-buttons
          margin-left: 7px

        .dashboard
          left: 10px
          right: 16px

          .actions
            display: none
            width: 150px
            background-color: #ff7f1a

            a
              border: none
              display: block
              width: 100%
              padding: 5px 8px 5px

          .x-button
            +x_button

          .add-yours
            z-index: 999

            .actions
              background-color: #ff6600

              a
                font-size: 12px
                background-color: inherit

            &:hover
              .actions
                margin-top: -4px
                display: block

        .dashboard-signed-in
          .menu-buttons
            top: 45px

          .user-signed-in-wrapper
            +display-flex
            +justify-content(flex-end)

            .user-dropdown-menu
              .user_name
                pointer-events: none

          .user_navigation
            display: none

      .search_form
        top: 0
        margin-top: 48px

        ::-webkit-input-placeholder
          color: black

    // Filters
    .filters-by-wrapper
      padding: 20px 10px !important

      &.filters-for-afisha
        .filters
          .by_date
            ul.with-datepicker li
              padding: 3px 11px 4px 11px

              &:last-child
                position: relative
                width: 20px
                height: 20px
                padding: 0 0 0 15px

                &:before
                  z-index: 0
                  font-size: 22px
                  top: -3px

                > a.daily
                  z-index: 100
                  position: absolute
                  color: transparent
                  margin: auto
                  top: 0
                  bottom: 0
                  left: 0
                  right: 0

    // Content wrapper
    .content_wrapper
      width: auto !important

    // Footer wrapper
    .footer_wrapper
      .footer
        width: auto !important
        padding: 0 16px
        position: relative

        .social-likes
          position: relative
          top: 5px
          right: auto
          left: 6px

        .menu > ul
          +display-flex
          +flex-flow(column)
          margin-top: 30px
          padding-left: 0

          > li
            width: 30%
            padding-right: 15px
            margin-bottom: 6px

            &#main_menu_reviews
              ul li
                float: none

            > ul
              display: none

            &#main_menu_more
              > ul
                display: block
                margin-top: 10px

                li
                  margin-bottom: 6px

        .wrapper
          position: static

          .rating_18
            top: 0
            right: 30px

        .our_social_link,
        .contacts
          margin-left: 0

  @media (max-width: $max-xs-width) and (orientation: landscape)
    .ui-dialog
      width: 94% !important

  @media (min-width: $min-sm-width) and (max-width: $max-sm-width)
    .visible-sm
      display: block

    .hidden-sm
      display: none

    .doberman_wrapper
      .links_brand,
      .doberman_content_wrapper
        width: auto

        .header_wrapper.header-wrapper-new
          .main-menu-inner-wrapper
            .search_form
              right: 0

            .city-selector
              left: 0

          .header
            .logo
              left: 10px

    .header_wrapper.header-wrapper-new
      // Orange top main menu
      .main_menu
        .main-menu-wrapper
          >ul #main_menu_more
            width: auto

            a
              padding: 3px 10px

          >ul>li>ul>li
            padding: 0 2px

        &.main-menu-orange
          padding: 0 16px

          &.need-touch
            .main-menu-wrapper
              > ul li
                &:hover
                  > ul
                    display: none

          ul
            width: auto

          .header
            width: auto !important

          .main-menu-wrapper
            margin-left: 90px

            > ul li > a
              padding: 3px 10px

      .header
        width: auto !important

        h1
          font-size: 18px
          max-width: 45%

        .logo
          left: 16px

        .dashboard
          right: 16px

          &.dashboard-signed-in
            .menu-buttons
            .user-signed-in-wrapper
              .user-dropdown-menu
                .user_name
                  pointer-events: none

    //Grayline navigation
    .grayline-navigation
      .filters
        ul li a
          min-width: auto
          padding: 6px

    // Filters
    .filters-by-wrapper
      padding: 20px 16px !important

      &.filters-for-afisha
        .filters
          .by_date
            ul.with-datepicker li
              padding: 3px 11px 4px 11px

              &:last-child
                position: relative
                width: 20px
                height: 20px
                padding: 0 0 0 15px

                &:before
                  z-index: 0
                  font-size: 22px
                  top: -3px

                > a.daily
                  z-index: 100
                  position: absolute
                  color: transparent
                  margin: auto
                  top: 0
                  bottom: 0
                  left: 0
                  right: 0

    // Content wrapper
    .content_wrapper
      width: auto !important

    // Footer wrapper
    .footer_wrapper
      .footer
        width: auto !important
        padding: 0 16px

        .social-likes
          top: 330px
          right: 333px

        .menu > ul
          +display-flex
          +flex-flow(row wrap)

          > li
            width: 25%
            padding-right: 15px

            &#main_menu_reviews
              ul li
                float: none

        .our_social_link,
        .contacts
          margin-left: 0

  @media (min-width: $min-md-width) and (max-width: $max-md-width)
    .doberman_wrapper
      .links_brand,
      .doberman_content_wrapper
        width: auto

        .header_wrapper.header-wrapper-new
          .main-menu-inner-wrapper
            .search_form
              right: 0

            .city-selector
              left: 0

          .header
            .logo
              left: 10px

    .header_wrapper.header-wrapper-new
      .main_menu
        &.main-menu-orange
          padding: 0 16px

          &.need-touch
            .main-menu-wrapper
              > ul li
                &:hover
                  > ul
                    display: none

          .header
            width: auto !important

      .header
        width: auto !important

        .logo
          left: 16px

        .dashboard
          right: 16px

    //Grayline navigation
    .grayline-navigation
      .filters
        ul li a
          min-width: auto
          padding: 10px 6px

    // Filters
    .filters-by-wrapper
      padding: 20px 16px !important

    // Content wrapper
    .content_wrapper
      width: auto !important

    // Footer wrapper
    .footer_wrapper
      .footer
        width: auto !important
        padding: 0 16px

  @media (min-width: $min-lg-width)
    .main-menu-orange
      &.need-touch
        .main-menu-wrapper
          > ul li
            &:hover
              > ul
                display: none
