.main_page-show-with-adaptive-version
  @media (max-width: $max-xs-width)
    .header_wrapper.header-wrapper-new
      min-height: 140px

      .weather_wrapper
        left: 5px
        top: 35px

        .weather-icon > a
          min-width: 140px
          padding-top: 20px

        .weather-temperature,
        .weather-wind-speed
          display: inline-block
          width: auto

    .content_wrapper
      width: 100% !important
      box-sizing: border-box
      padding: 0 16px

      .content.main_page_show
        border-top: 0

        .reviews_main_page
          margin: 0

          .left
            border-bottom: 0
            width: 100%

            .reviews
              li
                max-width: 100%

              .image_without_colorbox
                display: block
                float: none

              .stats
                float: none
                margin-top: 10px

              .categories,
              .title,
              .text
                margin-left: 0

            .reviews_toggler
              display: none

          .right
            width: 100%
            margin-top: 290px
            border-top: 1px solid #ccc
            padding-top: 20px

            .last_reviews_header
              margin-left: 0

            .last_reviews_content
              margin-left: 10px

      .filter_header
        float: none

      .afisha_main_page_list
        border-top: 1px solid #ccc
        margin-top: 20px
        margin-bottom: 0

        .filters_for_mobile_afisha
          .filters_by_category_mobile
            +filters_by_category_mobile

          .filters_when_mobile
            +filters_when_mobile

        .posters
          width: 100%
          margin-left: auto
          margin-right: auto
          padding: 0

          .item
            width: auto
            max-width: 360px
            height: 100%
            margin-left: auto
            margin-right: auto
            float: none

            .title,
            .place,
            .human_when
              font-size: 14px

            .image
              width: 100%
              height: auto
              text-align: center

              a
                img
                  width: 98%
                  height: auto
                  margin-right: auto
                  margin-left: auto

                  .first_line
                    bottom: 0
                    top: 90px

                  .second_line
                    bottom: 0
                    top: 130px

            .title
              height: 30px
              min-height: 30px
              border: none
              width: 100%

              a
                width: 100%

            .place
              padding: 8px 10px 0 10px
              border-top: 1px dashed #ccc
              margin: 6px 0 0 0

      .organizations_main_page_list
        border-top: 1px solid #ccc
        padding-top: 10px
        margin-top: 0

        h2
          margin-bottom: 10px

        .filters_for_mobile_organizations
          +filters_by_category_mobile

        .posters
          +display-flex
          +justify-content(space-between)
          +flex-flow(row wrap)
          padding-top: 20px

          li.item_organization
            width: 48%
            margin: 0 0 10px

            &:last-child
              display: none

            .info
              margin: 0
              width: 145px
              padding: 1px

              .image
                margin: 0
                width: 100%

                &:hover
                  img
                    +opacity(1)

                a
                  width: 100%

                  img
                    width: 100%
                    height: auto

                > a + a
                  height: auto

                .sms_claimable
                  width: 160px
                  left: -7px

              .details,
              .sms_claim_link
                display: none

      .discounts_main_page_list
        border-top: 1px solid #ccc
        padding-top: 15px
        margin-top: 0

        h2
          margin-bottom: 12px

        .filters_for_mobile_discounts
          +filters_by_category_mobile

        .posters
          padding-top: 20px

          .item_wrapper
            width: 99%
            margin-right: 0
            margin-left: 0

            .item
              width: 100%
              height: auto

              .title
                height: 30px
                min-height: 30px
                border: none
                width: 100%

              .place
                padding: 15px 8px
                margin: 13px 0 0 0
                border-top: 1px dashed #ccc

              .image
                width: 99%
                height: auto
                margin: 0
                padding: 0 2px

                .for_sale
                  display: none

                &:hover
                  img
                    +opacity(1)

                img
                  width: 100%
                  height: auto

      .accounts_main_page_list
        border-top: 1px solid #ccc
        padding-top: 15px
        margin-top: 5px
        margin-bottom: 10px

        h2
          margin-bottom: 12px

        .filters_for_mobile_accounts
          +filters_by_category_mobile
          max-height: 30px

          .mobile-version-filters
            +align-items(center)

            p
              padding-top: 0

        .posters
          padding-top: 20px
          +display-flex
          +flex-flow(row wrap)
          +justify-content(space-between)

          li
            margin: 0 2px 5px 0
            width: 48%
            border: 1px solid #ccc
            padding-bottom: 1px

            &:nth-child(2n)
              margin-right: 0

            .item
              border: 0

              .image
                width: auto
                height: auto

                &:hover
                  .details,
                  .last_visit
                    display: none

                  img
                    +opacity(1)

                .avatar-wrapper
                  margin: 0

                  img
                    max-width: 100%
                    height: auto
                    vertical-align: bottom

                .invitation_link
                  display: none

  @media (max-width: $max-xs-width) and (orientation: landscape)
    .content_wrapper .content.main_page_show
      .reviews_main_page
        .right
          margin-top: 205px

      .organizations_main_page_list
        .posters
          li
            width: 33%

      .discounts_main_page_list
        .item
          width: 70%

      .accounts_main_page_list
        .posters
          li
            width: 30%
            margin: 0 0 2px 0

  @media (min-width: $min-sm-width) and (max-width: $max-sm-width)
    .content_wrapper
      padding: 0 16px
      border-top: 2px solid #e8e8e8

      .content.main_page_show
        border: 0

        .reviews_main_page
          margin: 10px 0

          .left
            width: 100%
            padding-bottom: 15px

            ul li
              .categories
                margin-top: 5px
                margin-bottom: 5px

              .title
                margin-bottom: 5px

              .text
                font-size: 12px

              .stats
                margin-top: 5px

          .right
            width: 100%
            margin-top: 15px

            .last_reviews_header
              margin: 0

              .title
                width: auto

            .last_reviews_content
              height: 90px
              margin-left: 10px

              .title
                max-width: 120px

              ul
                +display-flex
                +justify-content(space-between)

                li
                  +display-flex

        .afisha_main_page_list
          border-top: 1px solid #ccc
          margin-top: 20px
          margin-bottom: 0

          .filter_header
            float: none

          .filters-by-wrapper
            padding: 20px 0 !important

          .filters_for_mobile_afisha
            .filters_by_category_mobile
              +filters_by_category_mobile

          .posters
            +display-flex
            +flex-flow(row wrap)
            +justify-content(space-between)
            padding-bottom: 0

            .item
              width: 350px
              height: auto
              margin-right: 0

              &:last-child
                display: none

              .image
                padding-right: 4px
                height: auto

                img
                  width: 100%
                  height: auto

              .title
                +display-flex
                +align-items(center)
                width: auto
                height: 55px
                line-height: 24px

              .title,
              .place,
              .human_when
                font-size: 12px

              .place
                max-height: 25px

        .organizations_main_page_list
          border-top: 1px solid #ccc
          margin-bottom: 0
          margin-top: 0
          padding-top: 10px

          .filter_header
            float: none

          .filters_for_mobile_organizations
            +filters_by_category_mobile

          .posters
            +display-flex
            +justify-content(space-between)
            +flex-flow(row wrap)
            padding-top: 20px

            li.item_organization
              width: 33%
              margin: 0 0 10px

              &:last-child
                display: none

              .info
                margin: 0 auto
                width: 145px
                padding: 1px

                .image
                  margin: 0
                  width: 100%

                  &:hover
                    img
                      +opacity(1)

                  a
                    width: 100%

                    img
                      width: 100%
                      height: auto

                  > a + a
                    height: auto

                  .sms_claimable
                    width: 160px
                    left: -7px

                .details,
                .sms_claim_link
                  display: none

        .discounts_main_page_list
          border-top: 1px solid #ccc
          padding-top: 15px
          margin-top: 0

          .filter_header
            float: none

          h2
            margin-bottom: 12px

          .filters_for_mobile_discounts
            +filters_by_category_mobile

          .posters
            padding-top: 20px
            +display-flex

            .item_wrapper
              width: 45%
              margin-right: 0
              margin-left: 0

              .item
                width: 300px
                height: auto
                margin: 0

                .title
                  height: 30px
                  min-height: 30px
                  border: none
                  width: 100%

                .place
                  padding: 15px 8px
                  margin: 13px 0 0 0
                  border-top: 1px dashed #ccc

                .image
                  width: 99%
                  height: auto
                  margin: 0
                  padding: 0 2px

                  .for_sale
                    display: none

                  &:hover
                    img
                      +opacity(1)

                  img
                    width: 100%
                    height: auto

      .accounts_main_page_list
        border-top: 1px solid #ccc
        padding-top: 15px
        margin-top: 0
        margin-bottom: 15px

        .filter_header
          float: none

        h2
          margin-bottom: 12px

        .filters_for_mobile_accounts
          +filters_by_category_mobile
          max-height: 30px

          .mobile-version-filters
            +align-items(center)

            p
              padding-top: 0

        .posters
          padding-top: 20px
          +display-flex
          +flex-flow(row wrap)
          +justify-content(space-between)

          li
            margin: 0 2px 5px 0
            width: 32%
            border: 1px solid #ccc
            padding-bottom: 1px

            &:nth-child(3n)
              margin-right: 0

            .item
              border: 0

              .image
                width: auto
                height: auto

                &:hover
                  .details,
                  .last_visit
                    display: none

                  img
                    +opacity(1)

                .avatar-wrapper
                  margin: 0

                  img
                    max-width: 100%
                    height: auto
                    vertical-align: bottom

                .invitation_link
                  display: none

  @media (min-width: $min-md-width) and (max-width: $max-md-width)
    .content_wrapper
      padding: 0 16px
      border-top: 2px solid #e8e8e8

      .content.main_page_show
        border: 0

        .left
          width: 71%
          margin-right: 0

        .reviews_main_page
          +display-flex
          +flex-flow(row wrap)
          +justify-content(space-between)
          margin: 10px 0

          h1
            width: 100%

          ul.reviews
            li
              a > img
                max-width: 300px
                height: auto

              .categories,
              .title,
              .text
                margin-left: 320px

          .reviews_toggler
            left: 0

        .afisha_main_page_list,
        .organizations_main_page_list,
        .discounts_main_page_list,
        .accounts_main_page_list
          .grayline-navigation
            ul li > a
              padding: 10px 7px

        .afisha_main_page_list
          .filters
            .by_kind
              ul li > a
                padding: 10px 7px

          .filters-by-wrapper
            padding-left: 0 !important

          .posters
            +display-flex
            +flex-flow(row wrap)
            +justify-content(space-between)
            padding-bottom: 0

            .item
              width: 190px
              height: auto
              margin-right: 0

              .image
                padding-right: 4px
                height: auto

                img
                  width: 100%
                  height: auto

              .title
                +display-flex
                +align-items(center)
                width: auto
                height: 45px
                line-height: 20px
                padding-top: 0
                padding-bottom: 5px

              .place
                max-height: 25px

        .discounts_main_page_list
          .posters li
            margin-left: 0

        .organizations_main_page_list
          .posters
            +display-flex
            +justify-content(space-between)
            +flex-flow(row wrap)
            padding-top: 20px

            li.item_organization
              width: auto
              margin: 0 0 10px

              &:last-child
                display: none

              .info
                margin: 0 auto
                width: 145px
                padding: 1px

                .image
                  margin: 0
                  width: 100%

                  &:hover
                    img
                      +opacity(1)

                  a
                    width: 100%

                    img
                      width: 100%
                      height: auto

                  > a + a
                    height: auto

                  .sms_claimable
                    width: 160px
                    left: -7px

                .details,
                .sms_claim_link
                  display: none

        .accounts_main_page_list
          .grayline-navigation
            ul li
              &:first-child
                width: 190px
                padding-right: 20px

                .text
                  width: auto

                  &:after
                    left: auto
                    right: -9px

          .posters
            +display-flex
            +flex-flow(row wrap)
            +justify-content(space-between)

            li
              margin: 0 2px 5px 0
              width: 15%
              border: 1px solid #ccc
              padding-bottom: 1px

              &:nth-child(3n)
                margin-right: 0

              .item
                border: 0

                .image
                  width: auto
                  height: auto

                  &:hover
                    .details,
                    .last_visit
                      display: none

                    img
                      +opacity(1)

                  .avatar-wrapper
                    margin: 0

                    img
                      max-width: 100%
                      height: auto
                      vertical-align: bottom

                  .invitation_link
                    display: none

        .introduction
          padding-top: 15px

  @media (min-width: $min-lg-width)
    .content_wrapper
      .content.main_page_show
        .reviews_main_page
          margin: 10px 0

          .left
            width: 870px
            margin-right: 60px

      .accounts_main_page_list
        .posters li .avatar-wrapper
          margin: 1px

      .afisha_main_page_list
        .afisha_item .image
          padding-right: 4px

          img
            width: 100%

    .doberman_wrapper
      .content_wrapper
        .content.main_page_show
          .reviews_main_page
            margin: 10px 10px 20px

            .left
              width: 870px
              margin-right: 38px
