.doberman_wrapper
  background: #1b1b20 image_url('public/doberman/bg.png') no-repeat center top

  .links
    position: relative
    width: 1200px
    height: 150px
    margin: 0 auto

    a
      position: absolute
      display: block
      width: 1200px
      height: 150px
      top: 0
      left: 0
      text-indent: -999em

  .doberman_content_wrapper
    width: 1200px
    background-color: #fff
    +border-top-left-radius(10px)
    +border-top-right-radius(10px)
    margin: 0 auto

    .header_wrapper
      +border-top-left-radius(10px)
      +border-top-right-radius(10px)

