<div class='landing_content'>
Тут будет контент лендинга
<div class='steps'>
  <h3>НАЧНИТЕ УПРАВЛЯТЬ СТРАНИЦЕЙ ЗАВЕДЕНИЯ В НЕСКОЛЬКО ШАГОВ</h3>
  <ul>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>1</span></div></div></div><div class='info'><span>Зарегистрироваться на портале (если у вас уже есть учётная запись, то этот шаг пропускается)</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>2</span></div></div></div><div class='info'><span>Подать заявку на получение прав представителя заведения (для этого нужно нажать кнопку <b>&laquoЯ владелец&raquo</b> на странице Вашей организации)</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>3</span></div></div></div><div class='info'><span>Дождаться одобрения администратора</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>4</span></div></div></div><div class='info'><span>В своём личном кабинете перейти на вкладку <b>&laquoМои организации&raquo</b>, где будет указан список заведений, доступных для управления</span></div></li>
    <li><div class='number_wrapper'><div class='white_ring'><div class='number'><span>5</span></div></div></div><div class='info'><span>Перейти в личный кабинет</span></div></li>

  </ul>
</div>
<br><%= link_to 'Добавить заведение', new_my_organization_path %>
