<div class="top_headline">
  <%= link_to 'Реклама на сайте!', services_path %>
  <% if t("services.#{Settings['app.city']}.phone", default: '').present? %>
    <span><%= t("services.#{Settings['app.city']}.phone") %>,</span>
  <% end %>
  <%= mail_to 'office@znaigorod.ru' %>
</div>
