<br>
<div class="contacts">
  Вы добавлены в чёрный список и не можете добавлять контент. <br>Можете связаться с нами: <%= t("services.#{Settings['app.city']}.address") %>, <%= t("services.#{Settings['app.city']}.phone") %>, <%= mail_to t("services.#{Settings['app.city']}.email") %>
</div>
